@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

.wrapper {
    margin:auto;
    max-width: 1440px;
    width: 100%;
    overflow-x: hidden;
    
}
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    color:  hsl(0, 0%, 100%);
    width: 100%;
    min-height: 300px;
    height: 100%;
    background-color: #f05c52;
    background-image: url('/images/bg-pattern-intro.svg');
    border: 1px solid white;
    border-bottom-left-radius: 50px;
}

nav {
    width: 100%;
}

nav .navbar {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
nav .navbar .logo a {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

nav .navbar .nav-links {
    width: 80%;
    height: 100%;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .navbar .nav-links .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar .nav-links .links li {
    list-style: none;
    padding: 0 10px;
    transition: all 0.4s ease;
}

nav .navbar .nav-links .links li:hover .arrow {
    transform: rotate(180deg);
}

.navbar .nav-links .links li .submenu {
    position: absolute;
    width: 200px;
    background: hsl(0, 0%, 70%);
    top: 50px;
    line-height: 2;
    display: none;
}
.navbar .nav-links .links li:hover .submenu {
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    color: hsl(208, 49%, 24%);
    transform: rotate(10dg);
}
.navbar .nav-links .links li .arrow-ancor .arrow-dark {
    display: none;
}
.backwhite {
    background: hsl(0, 0%, 100%);
    color:hsl(356, 100%, 66%);
    text-decoration: none;
    

}

.grow {
    font-weight: 10px;
    font-size: 10px;
    color: rgba(231, 229, 229, 0.87);
    padding-top: 20px;
}
.header-end {
    width: auto;
    padding: 50px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

.round {
    width: 100px;
    height: auto;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.tekwhite {
    
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.burger, .close_icon {
    display: none;
}

.middle-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}
.robust-images {
    max-width: 500px;
}

.robust-images img {
    padding-left: 10em;
    height: 45em;
    width: auto;
    
}
.robust-content {
    max-width: 500px;
}

.wrapper-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapper-body h2 {
    padding-top: 5rem;
}
p {
    
    line-height: 1.5;
    font-weight: 0.5rem;
    text-align: justify;
    padding: 1rem 0;
}
.wrapper-body h1, h2, h3, h4, p {
    color: hsl(208, 49%, 24%);
}
.robust-h4 {
    padding-top: 2rem;
}

.phones {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.phones-phones{
    height: 25rem;
    margin-top: 5rem;
    background: hsl(237, 17%, 21%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #dcc;

}

.phones-phones p{
 margin-left: 35rem;
 margin-right: 10rem;
 font-weight: 150;
 font-size: 0.8rem;
 color: #dcc;
}

.phones-phones h2 {
    padding-right: 1rem;
    font-weight: 300;
    color: #dcc;
}

.phones img {
    position: absolute;
    
}

.computer {
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}
.computer-image {
    max-width: 600px;
    margin-right: 10rem;
    align-self: flex-start;
}
.computer img {
    width: 40rem;
}
.computer-content {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footer {
    width: 100%;
    height: 20rem;
    background-color: hsl(240, 10%, 16%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 50px;
}
.footer ul {
    list-style: none;
    padding-top: 1rem;

}
.footer ul li {
    padding-top: 1rem;
}

.footer h1 ,h3 , a {
    color: white;
}

.footer h1 {
    padding-bottom: 10rem;
}

.mobile {
    display: none;
}
.line {
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        padding: 1rem;
    }
    nav .navbar .nav-links {
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 350px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 92%;
        height: 500px;
        background: hsl(0, 0%, 100%);
        color: hsl(208, 49%, 24%);
        display: none;
        border: 1px solid hsl(0, 0%, 80%);
        box-shadow: hsl(0, 0%, 50%);
    }
    nav .navbar .nav-links .links {
        flex-direction: column;
        justify-self: flex-start;
    }
    nav .navbar .nav-links .links a {
        color: hsl(208, 49%, 24%);
        font-weight: 500;
    }
    #backsmall {
        width: 30px;
        background-color:hsl(356, 100%, 66%);
        color: hsl(0, 0%, 100%);
        padding: auto 20px;
    }
    .navbar .nav-links .links li .submenu {
        top: 0;
        position: relative;;
        width: 200px;
        background: hsl(0, 0%, 70%);
    }

    .line {
        display: block;
    }

    .burger {
        display: block;
        width: 3rem;
        height: 2rem;
    }
    .close_icon {
        display: none;
    }
    .header-bootom-div {
        margin: 4rem auto;
    }
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .navbar .nav-links .links li .arrow-ancor .arrow-light {
        display: none;
    }
    .navbar .nav-links .links li .arrow-ancor .arrow-dark {
        display: inline;
    }
    .robust-images {
        width: auto;
        justify-self: center;
        align-self: center;
    }
    .robust-images img {
        padding-left: 0;
        height: auto;
        width: auto;
        
    }
    .robust-content {
        width: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .middle-content {
        flex-direction: column-reverse;
    }

    .phones {
        flex-direction: column;
    }

    .phones-phones p {
        margin: 0;
        padding-left:2rem;
        padding-right: 2rem;
    }
    .phones-phones h2 {
        padding-right: 0;
        padding-top: 12rem;
    }
    .phones img {
        width: 20rem;

        
    }

    .computer {
        width: 100%;
        padding-top: 3rem;
        flex-direction: column;
        margin-right: 0;
       
    }

    .computer-image {
        justify-self: center;
        align-self: center;
    }
    .computer img {
        margin-right: 0;
        width: 25rem;
        padding-left: 8rem;
    }
    .computer-content {
        align-items: center;
        padding-right: 0;
        width: auto;
        padding: 0 1rem;
    }

    .footer {
        flex-direction: column;
        height: auto;
        margin: auto;
        justify-content: space-around;
        align-items: center;
    }
    .footer h1,h3 {
        padding-bottom: 2rem;
    }
   
    .footer ul { 
        padding-top: 0;
    }
    .footer ul li {
        padding-bottom: 1rem;
    }
}


